{{yield}}
{{paper-text label="Address" value=address target=target}}
<div {{bind-attr class=":col-lg-1 :pull-right working::hide"}} style="top:-36px;">{{paper-icon icon="rotate-right" spin=true}}</div>
<div {{bind-attr class=":col-lg-1 :pull-right geocoded::hide"}} style="top:-36px;">{{paper-icon icon="check"}}</div>
