<div class="row">
    <!-- Details -->
    <div class="col-lg-6 row-bottom">

        <!-- Details -->
        {{#paper-card}}
            <img {{bind-attr src=model.img alt=model.name}}>
            {{#paper-card-content}}
                <h2>{{model.name}}</h2>
                <p class="place-tagline">The drinkin'est place in town!</p>
                <div class="pull-right">
                    {{#paper-button classNames="md-warn"}}Delete{{/paper-button}}
                    {{#paper-button raised=true classNames="md-primary"}}Edit{{/paper-button}}
                </div>
            {{/paper-card-content}}
        {{/paper-card}}

        <!-- Location -->
        {{#paper-card}}
            <img {{bind-attr src=model.mapUrl}} alt="Location">
            {{#paper-card-content}}
                <div class="row">
                    <div class="col-lg-8">
                        <address>
                            {{model.address1}}<br />
                            {{model.city}}, {{model.state}} {{model.zip}}<br />
                            <abbr title="Phone">P:</abbr> <a href="#">215-267-2222</a>
                        </address>
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="#">{{paper-icon icon="link" size="lg"}}</a>
                                <a href="#">{{paper-icon icon="post-facebook" size="lg"}}</a>
                                <a href="#">{{paper-icon icon="post-gplus" size="lg"}}</a>
                                <a href="#">{{paper-icon icon="post-twitter" size="lg"}}</a>
                                <a href="#">{{paper-icon icon="post-tumblr" size="lg"}}</a>
                                <a href="#">{{paper-icon icon="post-instagram" size="lg"}}</a>
                                <a href="#">{{paper-icon icon="post-pinterest" size="lg"}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <strong>Hours</strong>
                        <ul class="place-hours">
                            <li>M-F: 11-2am</li>
                            <li>Sat: 10-2am</li>
                            <li>Sun: 2pm-10pm</li>
                        </ul>
                    </div>
                </div>
            {{/paper-card-content}}
        {{/paper-card}}

    </div>

    <!-- Menu -->
    <div class="col-lg-6">

        <div class="row row-bottom">
            <div class="col-lg-4">
                {{#paper-button raised=true classNames="md-primary"}}Add Beer{{/paper-button}}
            </div>
        </div>

        {{#if model.menu}}
            {{#paper-content classNames="md-whiteframe-z1 list-demo"}}
                {{#paper-list}}
                    {{#each beer in model.menu}}
                        <div {{bind-attr class="beer.verified::unverified"}}>
                            {{#paper-item}}

                                {{#paper-tile-left}}
                                    {{#if beer.verified}}
                                        <img {{bind-attr src=beer.img alt=beer.name}} class="avatar">
                                    {{else}}
                                        {{paper-checkbox value=beer.verified}}
                                    {{/if}}
                                {{/paper-tile-left}}

                                {{#paper-tile-content}}
                                    <h3>{{#link-to 'beer.index' beer}}{{beer.name}}{{/link-to}}</h3>
                                    <h4>Brewery Name</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 list-left-detail text-muted">
                                            {{beer.style}} &sdot; {{beer.abv}}%
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 list-right-detail text-muted">
                                            <a href="#">{{paper-icon icon="delete" size="lg"}}</a>
                                        </div>
                                    </div>
                                {{/paper-tile-content}}

                            {{/paper-item}}
                        </div>
                        {{paper-divider}}
                    {{/each}}
                {{/paper-list}}
            {{/paper-content}}
        {{else}}
            <div class="row">
                <div class="col-lg-12 text-muted">
                    <i>No beers available :-(</i>
                </div>
            </div>
        {{/if}}

    </div>
</div>
