<div class="row">
    <!-- Details -->
    <div class="col-lg-6 row-bottom">

        <!-- Details -->
        {{#paper-card classNames="beer-detail-card"}}
            <img class="center-cropped" {{bind-attr src=model.img alt=model.name}}>
            {{#paper-card-content}}
                <h2>{{model.name}}</h2>
                <h4 class="text-muted">{{model.brewery}}</h4>
                <p>{{model.desc}}</p>
                <div class="row">
                    <div class="col-lg-8">
                        <strong>Style:</strong> <span class="text-muted">{{model.style}}</span><br />
                        <strong><abbr title="Alcohol By Volume">ABV:</abbr></strong> <span class="text-muted">{{model.abv}}%</span><br />
                        <strong>Available:</strong> <span class="text-muted">{{model.available}}</span>
                    </div>
                    <div class="col-lg-4 pull-right">
                        {{#paper-button raised=true classNames="md-primary"}}Add to Favorites{{/paper-button}}
                    </div>
                </div>
            {{/paper-card-content}}
        {{/paper-card}}

    </div>

    <!-- Menu -->
    <div class="col-lg-6">

        <h3>Available at these places nearby:</h3>

        {{#paper-content classNames="md-whiteframe-z1 list-demo"}}
            {{#paper-list}}
                {{#each place in model.places}}
                    {{#paper-item}}

                        {{#paper-tile-left}}
                            <img {{bind-attr src=place.img alt=place.name}} class="avatar">
                        {{/paper-tile-left}}

                        {{#paper-tile-content}}
                            <h3>{{#link-to 'place.index' place}}{{place.name}}{{/link-to}}</h3>
                            <h4>Beers: {{place.menu.length}}</h4>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 list-left-detail text-muted">
                                    Updated {{place.updated}}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 list-right-detail text-muted">
                                    5.2 miles away
                                </div>
                            </div>
                        {{/paper-tile-content}}

                    {{/paper-item}}
                    {{paper-divider}}
                {{else}}
                    {{#paper-item}}

                        {{#paper-tile-content}}
                            None :-(
                        {{/paper-tile-content}}

                    {{/paper-item}}
                {{/each}}
            {{/paper-list}}
        {{/paper-content}}

    </div>
</div>
