<div class="row">
    <!-- Details -->
    <div class="col-lg-6 row-bottom">

        <!-- Details -->
        {{#paper-card classNames="beer-detail-card"}}
            <img class="center-cropped" {{bind-attr src=model.img alt=model.name}}>
            {{#paper-card-content}}
                <h2>{{model.name}}</h2>
                <h4 class="text-muted">{{model.brewery}}</h4>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">{{model.style}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-muted">
                                {{model.abv}}% &sdot; {{model.available}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 pull-right">
                        {{#paper-button raised=true classNames="md-primary"}}Add to Favorites{{/paper-button}}
                    </div>
                </div>
            {{/paper-card-content}}
        {{/paper-card}}

        {{#paper-card classNames="beer-detail-card"}}
            {{#paper-card-content}}
                <dt>Description</dt>
                <p>{{model.desc}}</p>
            {{/paper-card-content}}
        {{/paper-card}}

    </div>

    <!-- Menu -->
    <div class="col-lg-6">

        <h3>Available at these places nearby:</h3>
        {{places-list
            latitude=1234
            longitude=1234
            beer=1234
            emptyMsg="Not being served nearby :-("}}

    </div>
</div>
